/* Hiệu ứng hover */

.box {
    background-color: #007bb6;
    width: 100px;
    height: 100px;
    transition-property: all;
    transition-duration: 1s;
}

.box:hover {
    border-radius: 50%;
    background-color: rgb(216, 51, 51);
}