body {
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    font-family: Roboto, sans-serif;
    text-align: center;
}

.hexColor {
    text-transform: capitalize;
    font-size: 2rem;
}

.hexBtn {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 0.8rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}