            * {
                box-sizing: border-box;
            }
            
            body {
                margin: auto;
                background-color: white;
                font-family: 'Lato', sans-serif;
                height: 2000px;
            }
            
            .wrap {
                margin: auto;
                margin-left: 250px;
                background-color: seashell;
                max-width: 1000px;
                padding: 0;
            }
            
            .banner {
                max-width: 100%;
            }
            
            .content {
                border: 1px solid rgb(216, 216, 216);
                /*thuộc tính con trỏ chuột */
                cursor: pointer;
                background-color: rgb(253, 234, 220);
                max-width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
            
            h1 {
                margin: 20px;
                text-align: center;
                font-size: 40px;
                color: tomato;
            }
            
            img {
                width: 100%;
                padding: 5px;
                transition: all ease-in-out 1s;
            }
            
            .img {
                overflow: hidden;
                width: 33.33333%;
                position: relative;
            }
            
            .img:hover img {
                transform: scale(1.1);
            }
            
            .mainMenu {
                margin: 0px;
                padding: 0;
                top: 200px;
                width: 200px;
                height: 324px;
                background-color: white;
                position: relative;
                line-height: 30px;
                float: left;
            }
            
            .mainMenu>ul>li:hover {
                background-color: rgb(182, 182, 182);
            }
            
            .mainMenu>ul>li:hover>a {
                color: red;
            }
            
            .mainMenu2 {
                margin: 0;
                padding: 0;
                top: 0px;
                left: 200px;
                width: 200px;
                height: 220px;
                position: absolute;
                display: none;
                background: #fff;
                box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);
            }
            
            .mainMenu>ul>li:hover .mainMenu2 {
                display: block;
            }
            
            .mainMenu2>li:hover {
                background-color: rgb(182, 182, 182);
            }
            
            .mainMenu2>li:hover>a {
                color: red;
            }
            
            ul>li {
                width: 100%;
                list-style: none;
                padding-left: 10px;
            }
            
            ul>li>a {
                display: block;
                text-transform: uppercase;
                text-decoration: none;
                font-family: Roboto, sans-serif;
                font-size: 14px;
                color: rgb(46, 46, 46);
                font-weight: 500;
            }
            
            footer {
                padding-top: 10px;
                clear: both;
                margin-bottom: 20px;
                text-align: center;
                color: rgb(51, 51, 51);
                background-color: #FFFFFF;
            }
            
            .top {
                position: fixed;
                right: 50px;
                bottom: 50px;
            }
            
            .shadow {
                width: 33.333333%;
                background-color: rgb(37, 34, 34);
                -moz-box-shadow: -3px -3px 5px 0px #666;
                -webkit-box-shadow: -3px -3px 5px 0px #666;
                box-shadow: -3px -3px 5px 0px #666
            }
            
            .main-container {
                width: 100%;
                height: 160px;
                margin: auto;
                padding: 20px;
                background-color: #FFFFFF
            }
            
            .follow-title {
                font-family: 'Roboto', sans-serif;
                background-color: #FFFFFF;
                border-bottom: 0.5px solid black;
            }
            
            .follow-title h3 {
                display: inline-block;
                color: orange;
                padding: 5px 10px
            }
            
            .follow-icon {
                font-family: 'Roboto', sans-serif;
                background-color: #FFFFFF;
                /*padding-top: 20px;*/
                padding-bottom: 5px;
                overflow: hidden;
                display: flex;
                justify-content: center;
            }
            
            .icon {
                width: 40px;
                height: 40px;
                background-color: #3B5998;
                float: left;
                margin-right: 10px;
                text-align: center;
                margin-top: 20px;
                transition: 0.4s;
            }
            
            .icon i {
                font-size: 20px;
                color: white;
                background-color: transparent;
                display: block;
                margin-top: 10px;
            }
            
            .twitter {
                background-color: #1DCAFF;
            }
            
            .google-plus {
                background-color: #DD4B39;
                margin-right: 0px;
            }
            
            .icon:hover {
                background-color: black;
                margin-top: 15px;
                transition: 0.4s;
            }