html {
    font-size: 62.5%;
    font-family: Roboto, sans-serif;
}

:root {
    --bgc-color: #f0f2f5;
    --blue-color: #166fe5;
    --white-color: #fff;
    --green-color: #34a420;
    --text-color: #1c1e21;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bgc-color);
    height: 100vh;
    width: 100vw;
    font-family: inherit;
    font-size: 1.6rem;
}

.form-banner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
}

.form__logo {
    text-align: left;
    color: var(--blue-color);
    font-size: 2.5rem;
}