<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bài về nhà CSS Layout</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
    <div class="menu">
        <h1>Bài số 1</h1>
        <div class="box1 pic11">
            <p>picture 1
            </p>
        </div>
        <div class="box1 pic12">
            <div class="pic121">
                <p>picture 2</p>
            </div>
            <div class="pic122">
                <p>picture 3</p>
            </div>
        </div>

        <h1>Bài số 2</h1>
        <div class="box2 pic21">
            <p>picture 1
            </p>
        </div>
        <div class="box2 pic22">
            <div class="pic121">
                <p>picture 2</p>
            </div>
            <div class="pic122">
                <p>picture 3</p>
            </div>
        </div>

        <h1>Bài số 3</h1>
        <div class="pic3">
            <div class="box3 pic31">
                <p>picture 1
                </p>
            </div>

            <div class="box3 pic32">
                <p>picture 2</p>
            </div>
            <div class="box3 pic33">
                <p>picture 3</p>
            </div>
        </div>

        <h1>Bài số 4</h1>
        <div class="pic3">
            <div class="box4 pic41">
                <p>picture 1
                </p>
            </div>

            <div class="box4 pic42">
                <p>picture 2</p>
            </div>
            <div class="box4 pic43">
                <p>picture 3</p>
            </div>
        </div>
    </div>
</body>

</html>