#blog {
    display: flex;
    flex-direction: column;
}

.blog-card {
    text-align: center;
    width: 50%;
    margin: auto;
    &>p {
        text-align: center;
    }
}

.blog-content {
    width: $width-primary;
    height: 560px;
    margin: auto;
    display: flex;
    &-right {
        width: 50%;
        height: 100%;
        margin-right: 15px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
    &-left {
        width: 50%;
        height: 100%;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.content-right-card {
    width: 100%;
    &>img {
        width: 100%;
        display: block;
    }
    &>.card {
        padding-right: 70px;
        padding-left: 35px;
    }
}

.content-left-card {
    width: 100%;
    height: calc((100% - 48px) / 3);
    display: flex;
    margin: 12px 0;
    border-radius: 10px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
    &>.card {
        padding: 30px 35px;
    }
}

.left-card {
    &-item {
        padding: 30px 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &-title {
        font-size: 30px;
        font-weight: 900;
        color: $text-color;
        line-height: 1;
    }
    &-text {
        opacity: 0.8;
        line-height: 2;
        text-align: justify;
    }
}

.blog-btn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}