$primary-color: #2d63d1;
$primary-color-hover: #4071d3;
$green-color: #44f2a1;
$green-color-hover: #22eb8d;
$text-color: #393e46;
$gradient-color-start: #ffad3a;
$gradient-color-end: #f474a2;
$white-color: #fff;
$gray-color: rgb(214, 214, 214);
$width-primary: 1170px;
$height-menu: 120px;