* {
    box-sizing: border-box;
}

:root {
    --primary-color: #56A4FE;
    --text-color: black;
    --border-color: #FEA700;
    --white-color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--white-color);
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 88px;
    min-height: 88px;
    background-color: var(--primary-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
}

.title__header {
    margin-left: 8px;
    padding: auto;
    font-family: "Times New Roman";
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white-color)
}

.title__member {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 28px;
    font-size: 1rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white-color);
    color: #0000ff;
    text-align: right;
    text-transform: capitalize;
    border-bottom-left-radius: 72px;
}

.title__text {
    display: block;
    margin-right: 6px;
    margin-top: 3px;
}

.content {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    position: relative;
}

.menu__content {
    position: absolute;
    top: 1px;
    right: 0;
    height: 30px;
    width: 24%;
    background-color: var(--primary-color);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div {
    display: flex;
}

.list__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__item {
    position: relative;
    padding: 0 4px;
}

.list__menu>.list__item>.list__item-link {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    opacity: 0.9;
}

.list__menu>.list__item>.list__item-link:first-child:hover {
    opacity: 1;
}

.language {
    height: 17px;
    width: 50px;
    font-size: 1.1rem;
    margin-right: 8px;
}

.list__item:before {
    content: "";
    display: block;
    width: 2px;
    height: 15px;
    background-color: var(--white-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.list__item:first-child:before {
    display: none;
}

.form__login {
    height: 170px;
    width: 490px;
    border: 3px solid var(--border-color);
    border-radius: 20px;
    display: flex;
    position: relative;
    font-family: "Time New Roman";
}

.title__login {
    font-size: 1.6rem;
    font-weight: 700;
    color: #0000ff;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title__login:before,
.title__login:after {
    content: "";
    display: block;
    position: absolute;
}

.title__login:before {
    width: 90px;
    height: 26px;
    left: -104%;
    border-top: 2px solid var(--border-color);
    border-left: 3px solid var(--border-color);
    top: 8px;
}

.title__login:after {
    width: 90px;
    height: 2px;
    right: -100%;
    bottom: 6px;
    background-color: var(--border-color);
}

.content__login {
    width: 100%;
}

.content__login-title {
    font-size: 1.6rem;
    font-weight: 700;
    color: #0000ff;
    text-align: center;
    margin: 10px 0;
    position: relative;
}

.content__login-title:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border: 3px solid var(--border-color);
    border-radius: 50%;
    position: absolute;
    top: -30%;
    left: 95px;
    transform: translateX(-50%);
}


/* .content__login-title:after {
    content: "";
    display: block;
    width: 3px;
    height: 28px;
    background-color: var(--border-color);
    position: absolute;
    top: -190%;
    left: 94px;
} */

.content__login-line {
    width: 100%;
    height: 12px;
    background-image: linear-gradient(to right, var(--border-color), var(--white-color));
}

.table {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

td>label {
    font-family: Tahoma, Arial, Verdana;
    font-size: 1.1rem;
    font-weight: 700;
    color: rgb(77, 77, 77);
}

input {
    outline: none;
}

.link__back {
    text-align: center;
    margin-top: 6px;
}

.link__back>a {
    font-size: 1.3rem;
    font-weight: 700;
    color: #3300ff;
    text-decoration: none;
}

.footer__content {
    display: flex;
    height: 75px;
    width: 100%;
    background: var(--primary-color);
    color: var(--white-color);
    align-items: center;
    justify-content: space-between;
}

.hot__line {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Team New Roman";
    margin-left: 10px;
}

.list__footer {
    margin-right: 10px;
}

.contact {
    display: flex;
    width: 100%;
    height: 44px;
    background: var(--white-color);
    align-items: center;
    justify-content: space-between;
}

.contact__list {
    display: flex;
    font-size: 1.3rem;
    font-weight: 400;
}

.contact__item {
    margin-left: 10px;
}

.contact__link {
    text-decoration: none;
    color: var(--primary-color)
}

.contact__link:hover {
    color: var(--border-color)
}

.view__number {
    font-size: 1.3rem;
    text-align: right;
    margin-right: 10px;
}

.number>a {
    text-decoration: none;
    color: var(--primary-color)
}

.number>a:hover {
    color: var(--border-color)
}

.contact__icon {
    margin-right: 4px;
    color: var(--border-color);
}