body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: rgb(159, 249, 255);
    font-size: 16px;
}

.wrap {
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
    background-color: rgb(255, 251, 245);
}

.border {
    border-bottom: solid 1px #ccc;
}

blockquote {
    border-left: solid 5px #9709c2;
    margin: 50px 0px 30px 50px;
    padding-left: 20px;
    font-family: "Times New Roman", serif;
}

h1 {
    font-family: Roboto, sans-serif !important;
    text-align: center;
    color: firebrick;
}

h2 {
    text-align: center;
    color: green;
}

p {
    text-align: center;
}

.imgsp {
    max-width: 1000px;
    text-align: center;
}

.box {
    margin-top: 30px;
    display: inline-block;
    border: 1px solid rgb(255, 247, 234);
    max-width: 32%;
    font-size: 20px;
    text-decoration: none;
}

.banner {
    max-width: 1000px;
    height: 300px;
}

img {
    width: 100%;
    height: 400px;
}

footer {
    text-decoration: none;
    color: rgb(240, 37, 11);
    text-align: center;
}

* {
    box-sizing: border-box;
}